body {
  background-image: url("../../img/background.png");
  color: #7b7b7b;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-image: url("../../img/memphis-colorful.png");
  letter-spacing: 5px;
}

label {
  color: #7b7b7b;
  letter-spacing: 3px;
  font-size: 20px;
}

li {
  list-style-type: none;
  margin-right: 4%;
  font-size: 23px;
  font-weight: 600;
}
