@{
  Layout ="_Layout";
}

<div class="jumbotron">
  <h1>Band Tracker</h1>
</div>

<a href="/venue/add-venue" class="btn btn-info">Add New Venue</a>
<a href="/bands/all" class="btn btn-info">All Bands</a>

<h3>Choose a Venue:</h3>
@foreach(var venue in Model)
{
  <ul>
    <li><a href="/venue/@venue.GetId()">@venue.GetName()</a></li>
  </ul>
}
