@{
  Layout ="_Layout";
}

<div class="jumbotron">
  <h1>Create a new band</h1>
</div>

<form action='/venue/@Model.GetId()/add-band' method="post">
  <label for="band-name">Add a band</label>
  <input type="text" name="band-name">
  <button type="submit" class="btn btn-info">Add</button>
</form>
